/*body {background-color: red;}*/
/*
History

21 Apr 2020 - Moved from original autocomplete.css to vue_survey.css 

*/

body {
  touch-action: pan-x pan-y;
  font: 36px Arial;
}

.round_button {
  background-color: #888;
  color: #fff;
  font-weight: bold;
  border-radius: 60px;
  width: 55px;
  height: 55px;
  font-size: 44px;
  vertical-align: middle;
}

.species {
  width: 450px;
  color: black;
  word-wrap: break-word;
  font: 54px Arial; 
}


.recent {
  text-align: center;
  background-color: inherit;
}

td {
  background-color: inherit;
}

.count {
  text-align: center;
  width: 10%;
  background-color: transparent; 
}

.survey_date {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 0px;
  word-wrap: break-word;
  width: 350px; 
  padding: 0px;
  font: 36px Arial;
  text-align: center;
}

#index_intro {
  font-size: initial;
}

input[list] {
  background-color: #eee;
}

input[list]:disabled {
  color: #ccc;
}


input {
  border: 1px solid transparent;
  background-color: inherit;
  padding: 0px;
  word-wrap: break-word;
  /*width: 100%;*/ 
  padding: 0px;
  font: 36px Arial;
  color: inherit;
}


input[type=submit] {
  background-color:  #b9c9df;
  font: inherit;
  color: #fff;
}

button {
  font-size: 64px;
  touch-action: manipulation;
}

input[type=button] {
  background-color: #888;
  color: #fff;
  font-weight: bold;
  border-radius: 60px;
  width: 120px;
  font-size: 82px;
}

.match_list_container {
  position: relative;
  display: inline-block;
  background-color: #b9c9df;
  cursor: pointer;  
  width: 100%;  
}
.match_list_item {
  position: absolute;
  border: 1px solid #d4d4d4;
  background-color:  hsl(215, 37%, 90%);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.match_list_item div:hover {
  /*when hovering an item:*/
  background-color: red; 
}

.match_list_item-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.match_list_item-included {
  /*when navigating through the items using the arrow keys:*/
  /* background-color: DodgerBlue !important; */ 
  color: #aaa; 
}


table, th, tr {
  border: 1px solid black; 
  border-collapse: collapse; 
  empty-cells: show;
}

tr:nth-child(even) {background-color: #f2f2f2}

.daynav {
  text-decoration: none;
  color: #7092be;
  font-size: larger;
 
}   

.virgin {
  color: #92be70;
}

.updated {
  color: 	#be7092;
}

.flash {
  animation: myflash 1s normal ease-out;
  animation-fill-mode: backwards;
}

@keyframes myflash {
  from {background-color: #7092be;}
/*  to {background-color: initial;} */
}