/*body {background-color: red;}*/
/*
History

21 Apr 2020 - Moved from original autocomplete.css to vue_survey.css 

*/

body {
  touch-action: pan-x pan-y;
  font: 36px Arial;
}

.round_button {
  background-color: #888;
  color: #fff;
  font-weight: bold;
  border-radius: 60px;
  width: 55px;
  height: 55px;
  font-size: 44px;
  vertical-align: middle;
}

.species {
  width: 450px;
  color: black;
  word-wrap: break-word;
  font: 54px Arial; 
}


.recent {
  text-align: center;
}

.count {
  text-align: center;
  width: 10%;
  background-color: transparent; 
}

.survey_date {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 0px;
  word-wrap: break-word;
  width: 20%; 
  padding: 0px;
  font: 36px Arial;
}

input {
  border: 1px solid transparent;
  background-color: inherit;
  padding: 0px;
  word-wrap: break-word;
  width: 100%; 
  padding: 0px;
  font: 36px Arial;
}


input[type=submit] {
  background-color:  #b9c9df;
  font: inherit;
  color: #fff;
}

button {
  font-size: 64px;
  touch-action: manipulation;
}

input[type=button] {
  background-color: #888;
  color: #fff;
  font-weight: bold;
  border-radius: 60px;
  width: 120px;
  font-size: 82px;
}

.match_list_container {
  position: relative;
  display: inline-block;
  background-color: #b9c9df;
  cursor: pointer;  
  width: 100%;  
}
.match_list_item {
  position: absolute;
  border: 1px solid #d4d4d4;
  background-color:  hsl(215, 37%, 90%);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.match_list_item div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.match_list_item-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

table, th, tr {
  border: 1px solid black; 
  border-collapse: collapse; 
  empty-cells: show;
}

tr:nth-child(even) {background-color: #f2f2f2}

